In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
data=pd.read_csv('tesla_data.csv')

In [5]:
data

,Date,Open,High,Low,Close,Adj Close,Volume,Cumulative Open,Price Change
0,2022-08-29,282.829987,287.739990,280.700012,284.820007,284.820007,41864700,282.829987,NaN
1,2022-08-30,287.869995,288.480011,272.649994,277.700012,277.700012,50541800,570.699982,5.040009
2,2022-08-31,280.619995,281.250000,271.809998,275.609985,275.609985,52107300,851.319977,-7.250000
3,2022-09-01,272.579987,277.579987,266.149994,277.160004,277.160004,54287000,1123.899963,-8.040009
4,2022-09-02,281.070007,282.350006,269.079987,270.209991,270.209991,50890100,1404.969971,8.490021
...,...,...,...,...,...,...,...,...,...
246,2023-08-22,240.250000,240.820007,229.550003,233.190002,233.190002,130597900,51401.759949,18.699997
247,2023-08-23,229.339996,238.979996,229.289993,236.860001,236.860001,101077600,51631.099945,-10.910004
248,2023-08-24,238.660004,238.919998,228.179993,230.039993,230.039993,99777400,51869.759949,9.320007
249,2023-08-25,231.309998,239.000000,230.350006,238.589996,238.589996,106345900,52101.069946,-7.350006
250,2023-08-28,242.580002,244.380005,235.360001,238.820007,238.820007,107330224,52343.649948,11.270004

In [6]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Cumulative Open,Price Change
0,2022-08-29,282.829987,287.739990,280.700012,284.820007,284.820007,41864700,282.829987,NaN
1,2022-08-30,287.869995,288.480011,272.649994,277.700012,277.700012,50541800,570.699982,5.040009
2,2022-08-31,280.619995,281.250000,271.809998,275.609985,275.609985,52107300,851.319977,-7.250000
3,2022-09-01,272.579987,277.579987,266.149994,277.160004,277.160004,54287000,1123.899963,-8.040009
4,2022-09-02,281.070007,282.350006,269.079987,270.209991,270.209991,50890100,1404.969971,8.490021

In [7]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Cumulative Open', 'Price Change'],
      dtype='object')

In [8]:
X = data[['Open', 'High', 'Low', 'Volume']]

In [9]:
y = data['Close']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor(),
    'SVR': SVR(),
    'Gradient Boosting': GradientBoostingRegressor()
}

In [13]:
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    results[name] = {'MSE': mse, 'R2': r2}

In [14]:
for name, metrics in results.items():
    print(f'{name}:')
    print(f'Mean Squared Error (MSE): {metrics["MSE"]}')
    print(f'R-squared (R2): {metrics["R2"]}')
    print()

Linear Regression:
Mean Squared Error (MSE): 8.087892506614835
R-squared (R2): 0.9968391030396411

Decision Tree:
Mean Squared Error (MSE): 29.26867951176298
R-squared (R2): 0.9885612624021911

Random Forest:
Mean Squared Error (MSE): 20.97725978136729
R-squared (R2): 0.9918017015402525

SVR:
Mean Squared Error (MSE): 2334.4059514163737
R-squared (R2): 0.08767127282651677

Gradient Boosting:
Mean Squared Error (MSE): 21.19974258664078
R-squared (R2): 0.9917147511731024